/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font-family: 'Inter', sans-serif;
  --main-font-family: 'PressStart2P', fantasy, sans-serif;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --background-image-color-gradient: #d3d3d3;
  --background-image-horizontal-gradient-start: #e7e7e7;
  --background-image-horizontal-gradient-end: #1a1a1a;
  --text-color: #000;
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --card__image-text-shadow: #fff;
  --button-background-color: #000;
  --button-text-color: #fff;
  --button-image-color: #fff;
  --heart-contour-color: #000;
  --heart-color: #ff0000;
}

@media (width <= 375px) {
  :root {
    --content-width: 100%;
  }
}